table 
{
    width: 50%;
    border-top: thick dashed magenta;
    border-bottom: medium dotted cyan;
    border-spacing: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th, td 
{
    border: thin solid black;
    padding: 10px;
}

.makegreen
{
    background-color: green; 
}

.makeyellow
{
    background-color: yellow;
}

.makepurple
{
    background-color: mediumpurple;
}